{
  "DB_URI": "mongodb+srv://Adalovelaceabir:Kk8r5wS8eLzix7dd@adalovelaceabir.hs5puju.mongodb.net/",
  "JWT_SECRET": "X8h@7#kLp9$Fw2zM!cVeR0nTqG5YuJrB",
  "JWT_EXPIRES_IN": "30d",
  "ADMIN_USERNAME": "adalovelaceabir",
  "ADMIN_PASSWORD": "ada11222211",
  "ADSENSE_CLIENT": "ca-pub-YOUR_AD_CODE",
  "API_BASE_URL": "https://notification-for-people-adalovelaceabirs-projects.vercel.app/",
  "GA_TRACKING_ID": "UA-XXXXX-Y"
}
